.container {
    background: url(img/aaa.jpg) no-repeat 0px 0px;
    border: 1px solid red;
    width: 700px;
    height: 300px;
}

input {
    border: 1px solid red;
    width: 300px;
    height: 40px;
}

#div1 {
    width: 700px;
    height: 50px;
    margin: auto
}

#div2 {
    width: 100%;
    height: 50px;
    size: 50px;
    text-align: center
}

button {
    width: 24%;
}

#output {
    width: 10%;
    color: #fcfafa;
}

#div3 {
    width: 700px;
    text-align: center;
    margin-top: -10px;
}

#div4 {
    text-align: center;
}

#result {
    text-align: center;
    height: 40px;
    background-color: #000000;
    border: 0;
    color: #ffffff;
    size: 20px;
}

#p2 {
    color: #f8fafa;
}
form{
    text-align: center;
}
#input_ID,#input_Password,#input_Email{
    width: 90%;
}
a{
    float: left;
    margin-left: 35px;
}
#submit{
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 35px;
    background-color: #1b1e21;
    color: #f8fafa;
}