.div {
    position: absolute;
    margin-left: 41%;
    margin-top: 400px;
    border: 1px solid crimson;
    width: 230px;
    height: 40px;
    background-color: #007bff
}

#hour, #minute, #second {
    margin: 0px;
    padding: 0px;
    height: 39px;
    width: 59px
}

#colon1, #colon2 {
    margin: 0px;
    padding: 0px;
    height: 39px;
    width: 15px
}